* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f5f5f5;
}

.slick-prev:before, 
.slick-next:before {
  color: #d32f2f !important;
}

.slick-dots li button:before {
  color: #d32f2f !important;
}

.slick-dots li.slick-active button:before {
  color: #d32f2f !important;
}
.Toastify__toast--success {
  background-color: #d32f2f !important;
  color: white !important;
}

.Toastify__toast--error {
  background-color: #ff3333 !important;
  color: white !important;
}

